[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap4 = "*"
cloudinary = "*"
dj-database-url = "*"
psycopg2 = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-forms-bootstrap = "*"
django-bootstrap4 = "*"
numpy = "*"
numpy-financial = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"
