{% extends "base.html" %} {% block content %}
<div class="container-fluid property-list p-4">
    <h1 class="dark:text-gray-700">Properties</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Deposit Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for property in all_property %}
        <tr>
            <th scope="row">{{ property.name }}</th>
            <td>{{ property.city }}, <span>{{ property.city.country}}</span></td>
            <td>{{ property.purchase_date }}</td>
            <td>{{ property.purchase_price }}</td>
            <td>{{ property.deposit }}</td>
            <td>
                <a href="{% url 'propertyitem' property.id %}" class="btn btn-dark">View</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}