{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="p-6 dark:bg-gray-800 dark:text-gray-50">
    <form novalidate="" action="" class="container flex flex-col mx-auto space-y-10 ng-untouched ng-pristine ng-valid">
        {% csrf_token %}
        <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm dark:bg-gray-900">
            <div class="space-y-2 col-span-full lg:col-span-1">
                <h2 class="font-medium dark:text-gray-200">Add Property</h2>
                <img
                        src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvcGVydHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=80"
                >
            </div>
            <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
                <div class="col-span-full sm:col-span-3">
                    {{ property_form.name|as_crispy_field }}
                </div>
                <div class="col-span-full sm:col-span-3">
                    {{ property_form.property_type|as_crispy_field }}
                </div>
                <div class="col-span-full sm:col-span-3">
                    {{ property_form.purchase_price|as_crispy_field }}
                </div>
                <div class="col-span-full sm:col-span-3">
                    {{ property_form.deposit|as_crispy_field }}
                </div>
                <div class="col-span-full sm:col-span-3">
                    {{ property_form.City|as_crispy_field }}
                </div>
                <div class="col-span-full sm:col-span-3">
                    {{ property_form.bond_value|as_crispy_field }}
                </div>
                <div class="col-span-full">
                    <div class="col-span-full sm:col-span-3">
                        {{ property_form.notes|as_crispy_field }}
                    </div>
                </div>
                <button type="submit"
                    class="w-full px-8 py-3 font-semibold rounded-md dark:bg-gray-100 dark:text-gray-900">
                Submit
            </button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}