{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="p-2 h-screen dark:bg-gray-800 dark:text-gray-50">
    <form action="" class="container flex flex-col mx-auto space-y-10 ng-untouched ng-pristine ng-valid" method="POST"
          novalidate="">
        {% csrf_token %}
        <h2 class="font-medium text-center dark:text-gray-200">Depreciation</h2>
        <table class="min-w-full text-xs text-white dark:bg-gray-900">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col class="w-24">
            </colgroup>
            <thead class="dark:bg-gray-700">
            <tr class="text-left">
                <th class="p-3">Description</th>
                <th class="p-3">Type</th>
                <th class="p-3">Value</th>
                <th class="p-3">Rate</th>
                <th class="p-3">Years</th>
            </tr>
            </thead>
            <tbody>
            {{depreciation_formset.management_form}}
            {% for item in depreciation_formset %}
            <tr class="">
                <td class="p-3 text-white hidden">{{ item.id }}</td>
                <td class="p-3">{{ item.description }}</td>
                <td class="p-3">{{ item.type }}</td>
                <td class="p-3">{{ item.value }}</td>
                <td class="p-3">{{ item.rate }}</td>
                <td class="p-3">{{ item.years }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="w-screen px-8 py-3 font-semibold rounded-md dark:bg-gray-100 dark:text-gray-900"
                type="submit">
            Submit
        </button>
    </form>
</section>

{% endblock%}
