{% extends "base.html" %} {% block content %}
<div class="container-fluid property-list">
    <div class="row">
        <div class="col-6"
             style="background-image: url(https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvcGVydHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60); background-repeat: no-repeat; background-size:cover;">
        </div>
        <div class="col-6">
            <form method="POST" class="m-1">
                {% csrf_token %}
                 {{ form.as_p }}

                {% if form.errors %}
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
                <button type='submit' class="btn btn-primary m-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}