{% extends "base.html" %} {% block content %}

<div class="container-fluid property-item-page">
    <div class="jumbotron m-1 pt-1">
        <div class="item-page">
            <div class="row">
                <div class="col-2 mt-4">
                    <h1 class="dark:text-gray-700">{{property_obj.name}}</h1>
                    <div>
                        <p class="text-lg font-medium m-0">Type - <span class="">{{ property_obj.property_type }}</span>
                        </p>
                        <details>
                            <summary class="py-2 outline-none cursor-pointer">Purchase Info</summary>
                            <div class="px-4 pb-1">
                                <p class="text-sm m-0">Purchase date - <span
                                        class="">{{ property_obj.purchase_date }}</span></p>
                                <p class="text-sm m-0">Purchase price - <span
                                        class="">{{ property_obj.purchase_price }}</span></p>
                                <p class="text-sm m-0">Deposit - <span class="">{{ property_obj.deposit }}</span></p>
                                <p class="text-sm m-0">Location - <span
                                        class="">{{ property_obj.city.name }}, {{ property_obj.city.country }}</span></p>
                                <p class="text-sm m-0">Other costs - <span class="">{{ property_obj.other_cost }}</span>
                                </p>
                            </div>
                        </details>
                        <details>
                            <summary class="py-2 outline-none cursor-pointer">Notes</summary>
                            <div class="px-4 pb-4">{{ property_obj.notes }}</div>
                        </details>
                    </div>

                    <p class="my-3">
                        <a class="btn btn-dark m-1 w-full" href="{% url 'editproperty' property_obj.pk %}">Edit</a>
                        <a class="btn btn-dark m-1 w-full" href="">Delete</a>
                        <a class="btn btn-dark m-1 w-full" href="">View All</a>
                    </p>
                    <hr class="h-2">
                    <h5 class="py-2 px-1">Property details</h5>
                    <div class="flex justify-content">
                        <ul>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'interestrates' property_obj.id %}">
                                Interest Rate Options</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'addimages' property_obj.id %}">
                                Add Images</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'inflationrates' property_obj.id %}">
                                Inflation Rates</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'depreciation' property_obj.id %}">
                                Depreciation</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'capitalgrowth' property_obj.id %}">
                                Capital Growth Rate</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'monthlyexpense' property_obj.id %}">
                                Monthly Expenses</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'ownrenovations' property_obj.id %}">
                                Renovations (Own)</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'loanrenovations' property_obj.id %}">
                                Renovations (Loan)</a></li>
                            <li><a class="btn btn-dark m-1 w-full"
                                   href="{% url 'repairs_maintenance' property_obj.id %}">
                                Repairs & Maintenance</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'specialexpenses' property_obj.id %}">
                                Special Expenses</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'taxoptions' property_obj.id %}">
                                Tax Options</a></li>
                            <li><a class="btn btn-dark m-1 w-full"
                                   href="{% url 'managementexpenses' property_obj.id %}">
                                Management Expenses</a></li>
                            <li><a class="btn btn-dark m-1 w-full"
                                   href="{% url 'Additionalloanpayments' property_obj.id %}">
                                Additional Loan Payments</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'Capitalincome' property_obj.id %}">
                                Capital Income</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'RentalIncome' property_obj.id %}">
                                Rental Income</a></li>
                            <li><a class="btn btn-dark m-1 w-full" href="{% url 'comparison' property_obj.id %}">
                                Comparison</a></li>
                        </ul>
                    </div>
                    <br>

                    {% for image in image %}
                    <p>
                        <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-dark btn-lg btn-block"
                           data-toggle="collapse"
                           href="#collapseExample" role="button">
                            View Image
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <img alt="Third slide" class="d-block w-100 property-img-page"
                                 src="{{image.image.url}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-10 mt-2" style="overflow-x:auto; overflow-y:auto;">
                    <div class="container p-2 mx-auto sm:p-4 dark:text-gray-900">
                        <h2 class="mb-4 text-2xl font-semibold leading-tight">Invoices</h2>
                        <div class="overflow-x-auto">
                            <table class="min-w-full text-xs">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col class="w-24">
                                </colgroup>
                                <thead class="dark:bg-gray-200">
                                <tr class="text-left">
                                    <th class="p-1"></th>
                                    {% for column in column_name %}
                                    <th class="p-1" scope="col">Year {{ column }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="border-b border-opacity-20">
                                    <td class="p-1">Property Value</td>
                                    {% for item in property_value %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr class="border-b border-opacity-20">
                                    <td class="p-1">Loan Amount</td>
                                    {% for item in outstanding_loan %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr class="border-b border-opacity-20">
                                    <td class="p-1">Equity</td>
                                    {% for item in outstanding_loan %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Gross Rental Income</td>
                                    {% for item in gross_rental_income %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Loan Principle</td>
                                    {% for item in loan_principal %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Loan Interest</td>
                                    {% for item in loan_interest %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Total Loan Payment</td>
                                    {% for item in total_loan_payment %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Additional Loan Payments</td>
                                    {% for item in additional_loan_payments %}
                                    {% if item %}
                                    <td class="p-1">{{ item.amount }}</td>
                                    {% else %}
                                    <td class="p-1">0.00</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Renovations (Own Pocket)</td>
                                    {% for item in renovations_own %}
                                    {% if item %}
                                    <td class="p-1">{{ item.amount }}</td>
                                    {% else %}
                                    <td class="p-1">0</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Renovations (Loan)</td>
                                    {% for item in renovations_loan %}
                                    {% if item %}
                                    <td class="p-1">{{ item.amount }}</td>
                                    {% else %}
                                    <td class="p-1">0</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Repairs & Maintenance</td>
                                    {% for item in repair_maintenance %}
                                    {% if item %}
                                    <td class="p-1">{{ item.amount }}</td>
                                    {% else %}
                                    <td class="p-1">0</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Special Expenses</td>
                                    {% for item in special_expense %}
                                    {% if item %}
                                    <td class="p-1">{{ item.amount }}</td>
                                    {% else %}
                                    <td class="p-1">0</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Property Expenses</td>
                                    {% for item in property_expense_per_year %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Total Property Expenses</td>
                                    {% for item in total_property_expenses_per_year %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Pre Tax Cashflow</td>
                                    {% for item in pre_tax_before_cash_flow %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>.
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Initial Capital Outflow</td>
                                    {% for item in initial_capital_outflow %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Pre Tax Cash On Cash</td>
                                    {% for item in tax_cash_on_cash %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Total Taxable Deductions</td>
                                    {% for item in taxable_deduction %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Depreciation</td>
                                    {% for item in depreciation %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Taxable Amount</td>
                                    {% for item in taxable_amount %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Tax Credit</td>
                                    {% for item in  tax_credit%}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">After Tax Cashflow</td>
                                    {% for item in after_tax_cashflow %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">After Tax Cash On Cash</td>
                                    {% for item in after_tax_cash_on_cash %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">Income Per Month</td>
                                    {% for item in income_per_month  %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td class="p-1">IRR</td>
                                    {% for item in irr %}
                                    {% if item %}
                                    <td class="p-1">{{ item }}%</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}