{% extends "base.html" %} {% block content %}

<div class="container-fluid property-item-page">
    <div class="jumbotron m-4 pt-2">
        <div class="item-page">
            <div class="row">
                <div class="col-4 mt-4">
                    <h1 class="item-title">{{property_obj.name}}</h1>
                    <h5>Property Type - <span class="small">{{ property_obj.property_type }}</span></h5>
                    <h5>Purchase date - <span class="small">{{ property_obj.purchase_date }}</span></h5>
                    <h5>Purchase price - <span class="small">{{ property_obj.purchase_price }}</span></h5>
                    <h5>Deposit - <span class="small">{{ property_obj.deposit }}</span></h5>
                    <h5>Location - <span
                            class="small">{{ property_obj.location }}, {{ property_obj.location.country }}</span></h5>
                    <h5>Other costs - <span class="small">{{ property_obj.other_cost }}</span></h5>
                    <h5>Notes - <span class="small">{{ property_obj.notes }}</span></h5>

                    <br>

                    {% for image in image %}
                    <p>
                        <a class="btn btn-dark btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            View Image
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <img class="d-block w-100 property-img-page" src="{{image.image.url}}"
                                 alt="Third slide">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-8 mt-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">IRR YR1</th>
                            <th scope="col">IRR YR2</th>
                            <th scope="col">IRR YR3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ property_obj.irr_year_one }}%</td>
                            <td>{{ property_obj.irr_year_two }}%</td>
                            <td>{{ property_obj.irr_year_three }}%</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Property Value</td>
                            <td>R624,000.00</td>
                            <td>R648,690.00</td>
                            <td>R674,918.40</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Loan Amount</td>
                            <td>R4,922,303.49</td>
                            <td>R4,836,044.56</td>
                            <td>R4,740,279.59</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Equity</td>
                            <td>R-4,544,303.49</td>
                            <td>R-4,427,804.56</td>
                            <td>R-4,299,380.39</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Gross Rental Income</td>
                            <td>R225,480.96</td>
                            <td>R242,392.03</td>
                            <td>R260,571.43</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Loan Principle</td>
                            <td>R77,696.51</td>
                            <td>R86,258.93</td>
                            <td>R95,764.97</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Loan Interest</td>
                            <td>R624,000.00</td>
                            <td>R648,690.00</td>
                            <td>R674,918.40</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Total Loan Payment</td>
                            <td>R624,000.00</td>
                            <td>R648,690.00</td>
                            <td>R674,918.40</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Additional Loan Payments</td>
                            <td>R624,000.00</td>
                            <td>R648,690.00</td>
                            <td>R674,918.40</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Renovations (Own Pocket)</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Repairs & Maintenance</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Special Expenses</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Property Expenses</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Total Property Expenses</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Capital Received</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Pre Tax Cashflow</td>
                            <td>R-387,106.97</td>
                            <td>R-371,212.90</td>
                            <td>R-354,126.77</td>

                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>

                            <td>Intitial Capital Outflow</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>

                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Pre Tax Cash On Cash</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Total Taxable Deductions</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                            <td>R00.00</td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>IRR</td>
                            <td>infinite</td>
                            <td>infinite</td>
                            <td>infinte</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}