{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container_fluid ">
        <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4 container1">
            <div class="card mt-2 " style="background-color: #b2dfdb;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-center border-bottom mb-4 " style="font-family: 'Henny Penny', cursive;">Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-info " type="submit">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="card mt-2">
        <div class="border-top pt-2 text-center">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
        </div>
  
    <div class="col-md-4 "></div>
    </div>
</div>
    
{% endblock content %}